@media all and (max-width: 768px){
        html, body{  
            margin: 0;
            padding: 0;
            
        }

        .section_01 {
        position: relative;
        display: flex;
        width: 100%;
        
        }
            .header_top {
                display: flex;
                position: fixed;
                flex-flow: row nowrap;
                min-height: 70px;
                align-items: center;
                justify-content: space-between;
                z-index: 99;
                border-bottom: 1px solid #ddd;
            
            }
                    .header_menu {
                        display: none;
                    }
                    .header_logo {
                        position: relative;
                        display: flex;
                        width: 200px;
                        height: 50px;
                        right: 60px;
                        
                        
                    }
                    .media_ham_icon{
                        position: relative;
                        display: flex;
                        width: 40px;
                        height: 40px;
                        right: 10px;
                        /* background: yellow; */
                    }
                  
            .main_title_bg {
                position: relative;
                width: 100%;
                height: 600px;
                top: -430px;
                margin: 0 auto;
            }

        /*--------------------------- 바디----------------------------*/  

        .section_02{
            position: relative;
            width: 100%;
            height: 800px;
            margin: 0 auto;
            align-items: center;
            
        }
            .main_body_01 {
                position: relative;
                display: flex;
                width: 100%;
                height: 500px;
            }
            .sns {
                position: relative;
                display: fixed;
                gap:3px;
                top: 100px;
                left: -10px;
                z-index: 999;
            }
                .sns > a > img {
                    width: 35px;
                    height: 35px;

                }
            .top {
                position: relative;
                display: fixed;
                left:200px;
            
            }
            .main_title_img {
                position: relative;
                display: flex;
                width: 400px;
                height: 400px;
                margin: 0 auto;
                align-items: center;
                justify-content: center;
            
            }
                .main_title_img > img:nth-child(1) {
                    display: none;
                }
                .main_title_img > img:nth-child(2) {
                    display: block;
                    width: 400px;
                    height: 400px;
                    margin-bottom: 230px;
                
                }
            .mouse_ani {

                top:0px;
            }
            .scroll_text {
                font-size: 8pt;
            }

            

    /*---------------------------------------------------*/

    .main_body_02 {
        position: absolute;
        display: flex;
        top:600px;
    }
        #title {
            font-size: 25pt;
            font-weight: bold;
        }

            .view_more {
                position: relative;
                width: 150px;
                height: 30px;
            }
                .veiw_icon {
                    width: 180px;
                    height: 30px;
                    font-size: 9pt;
                    line-height: 30px;
                    border: 1px solid black;
                    margin: 0;
                    padding:0;
                }
                .veiw_icon > img {
                    width: calc(20%);
                    margin-left: 3px;
                    align-items: center;
                    justify-content: center;
                    margin-bottom: 3px;
                }
    .character_list {
        position: relative;
        display: flex;
        flex-flow: row wrap;
        width: 100%;
        height: 1730px;
        /* background: wheat; */
        padding: 10px;
        align-items: center;
        justify-content: space-between;
    }
        .ch_list {
            display: flex;
            flex-flow: column wrap;
            width: 420px;
            height: 420px;
            margin-top: 6px;
            margin: 0 auto;
            justify-content: space-around;
            
            /* background: yellow; */
        }
            .item {
                display: flex;
                flex-flow: row wrap;
                width: 180px;
                height: 180px;
                margin: 0 auto;
            }
                .ch_img {
                    position: relative;
                    display: flex;
                    clear: both;
                    width: 180px;
                    height: 130px;
                }
                .ch_img > img {
                    width: 180px;
                    height: 130px;
                }
                    .ch_img > #kitty:hover  {
                        width:180px;
                        height: 130px;
                        content: url(../img/new_main_crt1_ov.png);
                    }
                    .ch_img > #melody:hover  {
                        width:180px;
                        height: 130px;
                        content: url(../img/new_main_crt2_ov.png);
                    }
                    .ch_img > #kuromi:hover  {
                        width:180px;
                        height: 130px;
                        content: url(../img/new_main_crt3_ov.png);
                    }
                    .ch_img > #pompom:hover  {
                        width:180px;
                        height: 130px;
                        content: url(../img/new_main_crt4_ov.png);
                    }
                    .ch_img > #cinamo:hover  {
                        width:180px;
                        height: 130px;
                        content: url(../img/new_main_crt5_ov.png);
                    }
                    .ch_img > #twin:hover  {
                        width:180px;
                        height: 130px;
                        content: url(../img/new_main_crt6_ov.png);
                    }
                    .ch_img > #pocha:hover  {
                        width:180px;
                        height: 130px;
                        content: url(../img/new_main_crt7_ov.png);
                    }
                    .ch_img > #kero:hover  {
                        width:180px;
                        height: 130px;
                        content: url(../img/new_main_crt8_ov.png);
                    }
                    .ch_img > #tama:hover  {
                        width:180px;
                        height: 130px;
                        content: url(../img/new_main_crt9_ov.png);
                    }
                    .ch_img > #bad:hover  {
                        width:180px;
                        height: 130px;
                        content: url(../img/new_main_crt10_ov.png);
                    }
                    .ch_img > #sam:hover  {
                        width:180px;
                        height: 130px;
                        content: url(../img/new_main_crt11_ov.png);
                    }
                    .ch_img > #kogi:hover  {
                        width:180px;
                        height: 130px;
                        content: url(../img/new_main_crt12_ov.png);
                    }
                    .ch_img > #dinguri:hover  {
                        width:180px;
                        height: 130px;
                        content: url(../img/new_main_crt13_ov.png);
                    }
                    .ch_img > #piano:hover  {
                        width:180px;
                        height: 130px;
                        content: url(../img/new_main_crt14_ov.png);
                    }
                    .ch_img > #aggre:hover  {
                        width:180px;
                        height: 130px;
                        content: url(../img/new_main_crt15_ov.png);
                    }
                    .ch_img > #myu:hover  {
                        width:180px;
                        height: 130px;
                        content: url(../img/new_main_crt16_ov.png);
                    }
                
                .text_box {
                    display: flex;
                    width:180px;
                    height: 50px;
                   
                }
                    .blank {
                        display: none;
                    }
                    .ch_name {
                        font-size: 1.1rem;
                        width:180px;
                        height: 30px;
                        line-height: 30px;
                    }
        
    /*--------------------------회사------------------------*/               
    .section_03 {
        width: 100%;
        top:1850px;
        height: 550px;
    }
        .section_03 > #title {
            margin-top: 10px;
        }
        .company_info {
            position: relative;
            display: flex;
            flex-flow: row wrap;
            width: 420px;
            height: 420px;
            margin-top: 0px;
            margin: 0 auto;
            /* background: yellow;
            */
        }
            .comapany_each {
                position: relative;
                display: flex;
                flex-flow: row wrap;
                width: 190px;
                height: 190px;
                border-right: none;
                align-items: center;
                padding-top: 10px;
                margin: 10px;
               
            
            }   

                #c_icon {
                    display: flex;
                    
                }
                #c_title {
                    display: flex;
                    width: 100%;
                    height: 30px;
                    margin: 0 auto;
                    font-size: 1.2rem;
                    
                }
                #c_text {
                    display: none;
                }
                .comapany_each > .more_icon {
                    width: 80px;
                    height: 30px;
                    top: 130px;
                    left: 55px;
                    margin-top: 20px;
                    line-height: 30px;
                    font-size: 0.7rem;
                   
                }
    /*--------------------------회사------------------------*/ 
    .section_04 {
        display: relative;
        top: 1800px;
    }
        .recruit {
            position: relative;
            display: flex;
            flex-flow: row wrap;
            width: calc(100% - 50px);
            height: 700px;
            
        }
            .recruit_each {
                position: relative;
                display: flex;
                flex-flow: row nowrap;
                width: calc(100% - 60px);
                height: 130px;
                margin-top: 50px;
            }
                #c_title {
                    position: relative;
                    display: flex;
                    clear: both;
                    width: 100px;
                    height: 30px;
                    font-size: 1rem;
                    line-height: 30px;
                    justify-content: center;
                    margin-bottom: 50pt;
                    
                }
                #r_icon {
                    width: 180px;
                }
                #c_text {
                    display: none;
                }

                .more_icon {
                    position: absolute;
                    display: flex;
                    width: 80px;
                    height: 30px;
                    left: 260px;
                    margin-top: 10px;
                    justify-content: center;
                }
        .place_info {
            width: 100%;
            height: 250px;
            background-position: -170px -500px;
        }
            .place_info > #title {
                bottom: 90px;
            }
            .place_info > .view_more {
                top:-90px;
            }

            footer {
                top: 1750px;
                width: 100%;
                height: 880px;
            }
                .contact {
                    height: 700px;
                    justify-content: center;
                }
                    .contact_us {
                        width: calc(100% - 28px);
                        height: 250px;
                        margin: 0 auto;
                        
                    }
                        .contact_logo {
                            margin-top: 50px;
                        }

                        .contact_us > title{
                            
                            font-size: 0.9rem;
                            top: -120px;
                            
                        }

                        .contact_us > .view_more {
                            position: relative;
                            width: 150px;
                            height: 20px;
                            font-size: 9pt;
                            margin: 0 auto;
                            top: -100px;
                        }
                        .contact_us >.veiw_icon {
                                width: 180px;
                                height: 30px;
                                font-size: 9pt;
                                line-height: 30px;
                                border: 1px solid black;
                                margin: 0;
                                padding:0;
                            }
                            .contact_us >.veiw_icon > img {
                                width: calc(20%);
                                margin-left: 3px;
                                align-items: center;
                                justify-content: center;
                                margin-bottom: 3px;
                            }
                    .map {
                        position: relative;
                        display: flex;
                        flex-flow: row wrap;
                        width: 350px;
                        height: 350px;
                        top: 10px;
                        background:#fff;
                    }
                        .map_img {
                            display: flex;
                            position: relative;
                            width: 350px;
                            height: 200px;
                        }
                            #kitty_car {
                                display: flex;
                                width: 35%;
                                top: 290px;
                                left: 120px;
                            }
                            .map_img > iframe {
                                display: flex;
                                width: 350px;
                                height: 200px;
                            }
                        .map_txt {
                            display: flex;
                            flex-flow: row wrap;
                            width: 350px;
                            height: 150px;
                            
                        }
                            .map_01 {
                                display: flex;
                                width:350px;
                                height: 25px;
                                line-height: 25px;
                                text-align: center;
                                font-size: 0.8rem;
                                justify-content: center;
                                margin-top: 0px;
                                top:10px;
                                padding-left: 0px;
                                /* background: wheat; */
                            }
                            .map_02 {
                                display: flex;
                                width: 350px;
                                height: 30px;
                                text-align: center;
                                line-height: 15px;
                                justify-content: center;
                                padding-left: 0px;
                                font-size: 8pt;
                                top:-30px;
                                /* background: palegreen; */
                            }
                            .map_03 {
                                display: none;
                                
                            }
                                
            
            .personal{
                position: relative;
                display: flex;
                width: 100%;
                height: 80px;
                margin-top: 30pt;
                margin: 0 auto;
            }
                .info01 {
                    width: 100%;
                    height: 30px;
                    left: 60px;
                    top:70px;
                    display: flex;
                    justify-content: center;
                    color:#a4a4a4 ;
                    font-size: 1rem;
                    align-items: center;
                    
                }
                .info02 {
                    
                    width: 200px;
                    height: 30px;
                    line-height: 30px;
                    top:50px;
                    left: -165px;
                    margin: 0 auto;
                    font-size: 0.8rem;
                    margin-top: 0px;
                    border: 2px solid #fff;
                }
}


